body {
    display: flex;
    flex-direction: column;
}
.main-nav {
    width: 100%;
    display: flex;
    margin-left: 86px;
    margin-right: 86px;
}

.main-header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    top: 0;
    box-shadow: 0 2px 4px -2px grey;
    background: white;
}

.slack-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
    list-style: none;
}

.nav-item {
    display: inline-block;
    padding: 16px;
    cursor: pointer;
}

.nav-item > a {
    font-family: Slack-Averta, appleLogo, sans-serif;
}

.nav-item > a:hover {
    color: #3f46ad;
}

.create-button {
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    color: #6d6f7b;
    box-shadow: inset 0 0 0 1px #323648;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    margin-top: 160px;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 1230px;
}

.left-image {
    flex: 1; 
}

.container-row > figure {
    height: 122px;
    width: 410px
}

h1 {
    margin-bottom: 8px;
    margin-top: 0;
    margin-left: 0;
    font-size: 76.8px;
    font-family: Slack-Tiempos, Times New Roman, Georgia,serif;
    line-height: 1.05;
    letter-spacing: normal;
}

.main-text {
    max-width: 704px;
    font-family: Slack-Averta, appleLogo, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    font-size: 20px;
    color: #5b5e6d;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.email {
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 18.4px 16px;
    margin-right: 10px;
    font-family: Slack-Averta, appleLogo, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: 16px;
    box-shadow: none;
}

.btn-submit-email {
    padding: 19px 40px 20px;
    border: none;
    text-align: center;
    font-family: Slack-Averta, appleLogo, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: normal;
    font-size: 14.4px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #3f46ad;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.bottom-text {
    font-family: Slack-Averta, appleLogo, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
}

.bottom-text > a {
    color: #3f46ad;
}

.bottom-text > a:hover {
    color: red;
}

.clients {
    padding: 48px 0;
    text-align: center;
    border-top: 1px solid #ebebeb;
    background-color: #f5f5f5;
}

.good-company {
    margin: 0;
    font-family: Slack-Tiempos, Times New Roman, Georgia,serif;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: 32px;
}

.inverse {
    margin: 25px;
    background-color: #fff;
    color: #3f46ad;
    box-shadow: inset 0 0 0 1px #9ba0d3;
}

.client-img-container {
    display: flex;
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.try-it {
    display: flex;
    justify-content: space-around;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 58px;
}

.try-it > div {
    display: flex;
    flex-direction: column;
}

.try-it > div > h3 {
    margin: 0;
    font-size: 30px;
}

.try-it > div > p > a {
    color: #3f46ad;
}

.compact {
    margin: 0;
}

p {
    color: #5b5e6d;
}

a {
    color: #5b5e6d;
}

footer {
    box-shadow: 0 2px 1px 2px grey;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 170px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.bottom-navigation {
    display: flex;
    flex-direction: column;
}

.bottom-navigation > a {
    margin-bottom: 10px;
    font-family: Slack-Averta, appleLogo, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    color: #5b5e6d;
    text-decoration: none;
}

.bottom-navigation > p{
    font-weight: 500;
}

.bottom-navigation > a:hover {
    color: #3f46ad;
}

.footer-social {
    background-color: #f5f5f5;
}

.footer-social-container {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-us > a {
    margin-right: 16px;
    font-family: Slack-Averta, appleLogo, sans-serif;
    font-size: 14px;
    color: #5b5e6d;
    text-decoration: none;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
}

.social-buttons > a {
    margin-right: 6px;
    margin-top: 5px;
    font-family: Slack-Averta, appleLogo, sans-serif;
    font-size: 14px;
    color: #5b5e6d;
    cursor: pointer; 
}

.social-buttons > img {
    margin-right: 16px;
    cursor: pointer; 
}


h1, h2, h3, h4, h5 {
    color: #323648;
}